/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 200px;
    padding: 70px 70px 24px 70px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
}

.logo{
    position: relative;
    gap: 50px;
    display: flex;
    align-items: center;
}

.logo__text{
    font-size: 30px;
    font-weight: 1000;
    position: relative;
    gap: 64px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.description__title{
    font-size: 64px;
}

.description__text{
    font-size: 20px;
    width: 500px;
}

.container-direito{
    text-align: right;
}

.video{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 64px;
}
