/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 200px;
    padding: 70px 70px 24px 70px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    position: relative;
    gap: 50px;
    display: flex;
    align-items: center;
}

.logo__text{
    font-size: 23px;
    font-weight: 1000;
    position: relative;
    gap: 64px;
}

main{
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas:
        "info socials"
        "info socials";
}

.info-container{
    grid-area: info;
    display: grid;
}

.description__title{
    font-size: 64px;
}

.description__text{
    font-size: 25px;
    width: 580px;
}

.socials-container{
    grid-area: socials;
    display: grid;
    place-content: center;
    gap: 32px;
}

.social-link{
    display: grid;
    place-content: center;
}

footer{
}

.video{
    display: flex;
    align-items: flex-end;
    gap: 50px;
}
